name: Build, Push and Deploy Frontend

on:
  push:
    branches:
      - main
      - feature/**

jobs:
  build_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build Angular
        run: npm run build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/stefanini-todo-front:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/stefanini-todo-front:${{ github.sha }}

  deploy:
    needs: build_push
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Deploy on EC2 via SSM
        uses: aws-actions/aws-ssm-send-command@v1
        with:
          aws-region: us-east-1
          instance-ids: ${{ secrets.EC2_INSTANCE_ID }}
          document-name: StefaniniDeployFrontend